:root {
    --bg-color: #e2e2e2;
    --text-color: #333;
    --container-bg: #fff;
    --header-color: #2c3e50;
    --input-border: #ddd;
    --button-bg: #3498db;
    --button-hover: #2980b9;
    --table-header-bg: #f2f2f2;
    --table-border: #ddd;
    --link-color: #3498db;
}

.dark-mode {
    --bg-color: #1a1a1a;
    --text-color: #cdcdcd;
    --container-bg: #222;
    --header-color: #4a8ec0;
    --input-border: #444;
    --button-bg: #2980b9;
    --button-hover: #3498db;
    --table-header-bg: #222;
    --table-border: #444;
    --link-color: #5dade2;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #222;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: var(--text-color);
    text-align: center;
    margin-top: 0px;
}

input[type="text"] {
    width: 97.5%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background-color: #222;
    color: var(--text-color);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--button-hover);
}

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.button-click {
    animation: buttonClick 0.3s ease-in-out;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--table-border);
}

th {
    background-color: #222;
    font-weight: bold;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mode-toggle {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mode-toggle:hover {
    background-color: var(--button-hover);
}

.mode-toggle .sun-icon,
.mode-toggle .moon-icon {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s, transform 0.3s;
}

.mode-toggle .sun-icon {
    opacity: 0;
    transform: scale(0.5);
}

.mode-toggle .moon-icon {
    position: absolute;
    opacity: 1;
    transform: scale(1);
    margin-left: -47%;
}

body.dark-mode .mode-toggle .sun-icon {
    opacity: 1;
    transform: scale(1);
}

body.dark-mode .mode-toggle .moon-icon {
    opacity: 0;
    transform: scale(0.5);
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
